body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2339px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2339px;
}
#u20 {
  position:absolute;
  left:2px;
  top:1162px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1050px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  position:absolute;
  left:0px;
  top:476px;
  width:1080px;
  height:1050px;
}
#u22 {
  position:absolute;
  left:2px;
  top:517px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:1003px;
}
#u23 {
  position:absolute;
  left:16px;
  top:844px;
  width:1050px;
  height:1003px;
}
#u24 {
  position:absolute;
  left:2px;
  top:494px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:110px;
}
#u27 {
  position:absolute;
  left:0px;
  top:716px;
  width:1080px;
  height:110px;
}
#u28 {
  position:absolute;
  left:2px;
  top:47px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:0px;
  top:656px;
  width:1080px;
  height:60px;
}
#u30 {
  position:absolute;
  left:2px;
  top:22px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  position:absolute;
  left:22px;
  top:656px;
  width:1037px;
  height:60px;
}
#u32 {
  position:absolute;
  left:2px;
  top:22px;
  width:1033px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:182px;
}
#u33 {
  position:absolute;
  left:0px;
  top:492px;
  width:1080px;
  height:182px;
}
#u34 {
  position:absolute;
  left:2px;
  top:83px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#B3B3B3;
}
#u35 {
  position:absolute;
  left:312px;
  top:674px;
  width:204px;
  height:42px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#B3B3B3;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:100px;
}
#u37 {
  position:absolute;
  left:920px;
  top:548px;
  width:160px;
  height:100px;
}
#u38 {
  position:absolute;
  left:2px;
  top:42px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:492px;
  width:1080px;
  height:334px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40 {
  position:absolute;
  left:950px;
  top:269px;
  width:130px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:110px;
}
#u42 {
  position:absolute;
  left:0px;
  top:716px;
  width:1080px;
  height:110px;
}
#u43 {
  position:absolute;
  left:2px;
  top:47px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:0px;
  top:656px;
  width:1080px;
  height:60px;
}
#u45 {
  position:absolute;
  left:2px;
  top:22px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  position:absolute;
  left:22px;
  top:656px;
  width:1037px;
  height:60px;
}
#u47 {
  position:absolute;
  left:2px;
  top:22px;
  width:1033px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:182px;
}
#u48 {
  position:absolute;
  left:0px;
  top:492px;
  width:1080px;
  height:182px;
}
#u49 {
  position:absolute;
  left:2px;
  top:83px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#B3B3B3;
}
#u50 {
  position:absolute;
  left:312px;
  top:674px;
  width:204px;
  height:42px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#B3B3B3;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:0px;
  top:265px;
  width:148px;
  height:119px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
