body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2339px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2339px;
}
#u16 {
  position:absolute;
  left:2px;
  top:1162px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:1635px;
  width:1080px;
  height:133px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:0px;
  top:265px;
  width:148px;
  height:119px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
